<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="ULAB logo.png">

    <title>Sign-in Template</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  {% block body %}
  <div class="text-center">
    <div class="form-signin">
      <img class="mb-4" src="logo2.png" alt="Ulab Icon" width="175" height="72">
      <h1 class="h3 mb-3 font-weight-normal text-white">Timeline Tool</h1>
      <!-- <button class="btn btn-lg btn-primary btn-block btn-trevor" type="submit">Submit</button> -->
      <form method="POST" action="/">
        <input type="text" name="inputSID" class="form-control" placeholder="SID" required autofocus>
        <input type="submit" value="Submit"/>
        {% for event in timeline.keys() %}
        <li>
          <div class="tab-content col-md-10 col-md-offset-1">
            <h2>{{ event }} </h2>
            <div class="list-group">
              <div style="padding: 1em 1em; text-align: left">
                <p style="font-size:16px">{{ timeline[event]['summary'] }}</p>
                <p style="font-size:16px">{{ timeline[event]['date_time'] }}</p>
                <p style="font-size:16px">{{ timeline[event]['location'] }}</p>
                <p style="font-size:16px">{{ timeline[event]['description'] }}</p>
                <p style="font-size:16px">{{ timeline[event]['link'] }}</p>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </form>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </div>
  </div>
  {% endblock }
</html>
